{% extends 'layouts/layout.html' %}
{% block title %}
About NoteKeepers
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">About NoteKeepers</h1>
            <p class="text" style="line-height: 40px;">
                Welcome to our revolutionary website! We believe in the power of digitalization, and our platform is designed to transform the way you handle documents and notes. Our mission is to empower you with cutting-edge technology, making organization and preservation of your important files an effortless and inspiring journey.

Through the seamless integration of Flask, Jinja, sqlite, and the remarkable Tesseract OCR, our application opens up a world of possibilities. Say goodbye to the hassle of handling physical papers and embrace the efficiency of the digital age.

With our user-friendly interface, you can easily transcribe your handwritten notes into digital formats, ensuring they are not only well-preserved but also effortlessly searchable. Our powerful OCR technology unlocks the potential of your documents, making them accessible with just a few clicks.

Embrace the convenience of having your documents at your fingertips, accessible anytime, anywhere. Whether it's organizing personal records or digitizing business documents, our platform is here to empower you in achieving your goals.
            </p>
                
    
</div>

{% endblock %}
